sokoban-python/Soko4.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
.vs/
.vs/Sokoban game/
.vs/Sokoban game/v16
Browse.VC.db
storage.ide-wal
*.tlog
*.xml
*.cache
*.sarif
*.pch
*.lock
*.lastcodeanalysissucceeded
*.codeanalysis
*.pch.codeanalysisast
*.Build.CppClean.log
*.db
*.suo
*.log
*.db
*.VC.db
*.opendb
*.ipch
*.ide-shm
*.ide.wal
*.db-shm
*.db-wal
*.ipch
*.dll
*.db
*.dll
*.tlog
*.pdb
*.idb
*.log
*.lastbuildstate
*.cache
*.obj