sokoban-python/Soko4.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
*.tlog
*.xml
*.cache
*.sarif
*.pch
*.lastcodeanalysissucceeded
*.codeanalysis
*.pch.codeanalysisast
*.Build.CppClean.log
*.db
*.suo
*.log
